.list {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 1.85vh, 40px);
    width: 100%;
    height: 100%;
    overflow: hidden;


    .counter-item {
        font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
    }


    .items-block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;

    }

}

