.list-section {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;


    &__container {
        width: 100%;
        height: 100%;
        max-width: 560px;
        padding: 4.63vh 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: clamp(10px, 3.4vh, 40px);
        z-index: 10;
    }
}
